.carousel {
  position: relative;
  overflow: hidden;
  width: 100%; 
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease; 
  width: 100%; 
}

.carousel-item {
  flex: 0 0 100%; 
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 2vw; 
  font-size: 1.5vw; /* Adjust the font size as needed */
}

.prev {
  left: 2vw; 
  margin-left: 1vw; 
}

.next {
  right: 2vw; 
  margin-right: 6vw; 
}

.hidden {
  display: none;
}
