/* src/components/sidebar/sidebar.module.css */
.Heading{
    font-size: 20px;
    font-weight: 600;
     
}

.hidden{
  display: none;
}
.sidebar {
    width: 250px;
    transition: transform 0.3s ease;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  @media (max-width: 768px){
    .sidebar {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1000;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      transform: translateX(-100%);
    }
  }
  
  .arrowButton{
    margin-top: 200px;
  }

  .closeButton{
    margin-left: 200px;
    font-size: 30px;
   
  }
  .closeButton:hover{
    transform: scale(1.5);
  }

  .scaleup:hover {
    cursor: pointer;
    transform: scale(1) translateX(20px); /* Scale up and translate on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 50%, transparent 50%); /* Add a background shine */
  }