/* src/components/sidebar/sidebar.module.css */
.Heading{
    font-size: 20px;
    font-weight: 600;
}
.hidden{
  display: none;
}

.displayed{
  display: block;
}

.sidebar {
   width: 100%;
    z-index: 100;
    transition: transform 0.3s ease;
    flex-grow: 1;
    background-color: white;
  }
  
  .sidebar.open {
    transform: translateX(0);
    background-color: white;
  }
  
 

  .closeButton{
    margin-left: 200px;
    font-size: 30px;
    color:black;
    background-color: white;
    
   
  }
  .closeButton:hover{
    transform: scale(1.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }

  .scaleup:hover {
    cursor: pointer;
    transform: scale(1) translateX(20px); /* Scale up and translate on hover */
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 50%, transparent 50%); /* Add a background shine */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }
  .logo
  {
    margin: 5px;
    height: 10px;
    width:10px;
  }

  .button-components {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
  }
  
  .username-container {
    display: flex; 
    flex-direction: column;
    position: relative;
    top: -15px;
    align-items: center;
    height: fit-content;
  }
  
  .username {
    text-transform: capitalize;
    font-size: 15px;
    padding: 0;
    height: 10px;
    margin: 0;
  }
  
  .userscope {
    font-size: 12px;
    text-transform: capitalize;
    padding: 0;
    padding-top: 7px;  
  }
  
  .button-content
  {
    font-size: "Poppins";
    font-size: medium;
  }

  .custom-menu-link {
    color: white; /* Default text color */
  }
  
  .custom-menu-link:hover {
    color: red; /* Text color on hover */
  }
  
  .custom-menu-link.ant-menu-item-selected {
    background-color: lightcoral; /* Background color when selected */
  }
  
  .custom-menu-link.ant-menu-item-selected .ant-menu-item {
    color: red; /* Text color when selected */
  }