/* TableNavBar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2eaea;
    padding: 0.5rem;
    flex-direction: row; /* Ensures the navbar items are in a row */
  }
  
  .fileActionsContainer {
    display: flex;
    align-items: center;
  }
  
  .fileInput {
    padding: 0.5rem;
    margin-right: 1rem; /* Add some space between the file input and buttons */
    background-color: #a94c4c;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .importButton,
  .exportButton {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
  }
  
  .importButton {
    background-color: #4caf50;
  }
  
  .importButton:hover {
    background-color: #45a049;
  }
  
  .exportButton {
    background-color: #007bff;
  }
  
  .exportButton:hover {
    background-color: #0069d9;
  }
  