.button-components {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  
}

.username-container {
  display: flex; 
  flex-direction: column;
  position: relative;
  top: -15px;
  align-items: center;
  height: fit-content;
}

.username {
  font-size: large;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 0;
  height: 10px;
  margin: 0;
}

.userscope {
  font-size: x-small;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 0;
  padding-top: 7px;  
}

.button-content
{
  font-size: "Poppins";
  font-size: medium;
}