.button-components{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    /* background-color: yellow; */
  }

  .username {
    font-size:large; /* Adjust the font size as needed */
    font-family: 'Poppins', sans-serif; /* Set the font family to Poppins */
    text-transform: capitalize; /* Capitalize each word in the username */
    margin: 0;
    
  }
  .userscope
  {
    font-size:small; /* Adjust the font size as needed */
    font-family: 'Poppins', sans-serif; /* Set the font family to Poppins */
    text-transform: capitalize; /* Capitalize each word in the username */
    margin-top:40px;
    margin-right: 50px;
    

  }