.button-components{
    display: flex;
    justify-content: space-around;
    gap: 10px;
   
    
  }

  .username-container {
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end;
  }
  
  .username {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin: 0;
  }
  
  .userscope {
    font-size: small;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 5px;
  }
  
  



