.search-input {
  width: 30%;
  height: 30px; 
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  border-radius: 10px;
}

.assign-button {
  width: 24%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}

.assign-button:hover {
  background-color: #0056b3;
}



.result{
  display: none;
  align-items: center;
  justify-content: center;
}

.result-info{
  display: none;

}

.info {
  margin: 10px;
  padding: 10px;
  background-color:white; 
  border-radius: 5px; 
  
}

.info:hover {
  background-color: #e0e0e0; 
 
}

.resultBox{
  width: 20%;
  min-height: 100px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;

}

.resultBox:hover{

  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  
}

.assetBox{
  padding: 5px;
  
}

.employeeBox{
  height: 100px;
  width: 300px;
  background-color:aliceblue;
  position: absolute;
  left: 35%;
  top: 71.5%;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
} 

