.mainCard{
    font-size: large;
    padding: 30;
}
.rowone{
    padding: 50px;
    box-shadow: none;
}
.formItem
{
    flex: 1;
   
}
.fixed-header {
    position: sticky;
    top: -25px;
    z-index: 1;
    padding: 20px;
    padding-bottom: 10px;
  }

  
