.mainHeading {
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 1rem;
    
    
  }
  
  .mainDrawer {
    max-width: 100%; /* Adjust the maximum width as needed */
    width: auto;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    background: black;
  }
  .mainTable {
    width: 95%;
    padding: 100px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 30px;
    background-color: #f2f2f2;
    font-size: small;
    line-height: 100px;
    border-radius: 3000px;
    border-color: "white";
    border:"none";

  }
  .mainTable td {
    color: black;
    font-size: 90%;
  }
  
  .mainTable thead th {
    color: blue;
    font-size: 90%;
    background: #afb6ba;
  }
  
  .customTable .ant-table-body {
    /* Apply custom styles to the container that enables horizontal scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    border: 1px solid #ddd; /* Example border style */
  }
  .spin {
    margin-left: 500px;
    margin-bottom: 300px;
  }
  