.square-box {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .search-input {
    width: 100%;
    height: 30px; /* Adjust for padding */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .assign-button {
    width: 100%;
    height: 30px;
    
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .assign-button:hover {
    background-color: #0056b3;
  }
  
  