@keyframes glow-purple {
  0% {
    box-shadow: 0 0 10px rgba(80, 22, 117, 0.5); 
  }
  50% {
    box-shadow: 0 0 15px rgba(129, 16, 167, 0.8); 
  }
  100% {
    box-shadow: 0 0 5px rgba(176, 39, 222, 0.5);
  }
}

@keyframes glow-teal {
  0% {
    box-shadow: 0 0 10px rgb(8, 72, 96); 
  }
  50% {
    box-shadow: 0 0 15px rgba(19, 104, 143, 0.8); 
  }
  100% {
    box-shadow: 0 0 10px rgba(13, 80, 148, 0.5);
  }
}

@keyframes glow-cyan {
  0% {
    box-shadow: 0 0 10px rgba(3, 193, 214, 0.5); 
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 167, 158, 0.8); 
  }
  100% {
    box-shadow: 0 0 5px rgba(2, 190, 158, 0.5);
  }
}
@keyframes glow-indigo {
  0% {
    box-shadow: 0 0 10px rgba(70, 3, 214, 0.5); 
  }
  50% {
    box-shadow: 0 0 15px rgba(65, 2, 211, 0.8); 
  }
  100% {
    box-shadow: 0 0 5px rgba(3, 42, 212, 0.5);
  }
}
@keyframes glow-blue {
  0% {
    box-shadow: 0 0 10px rgba(0, 196, 255, 0.5); 
  }
  50% {
    box-shadow: 0 0 15px rgba(2, 138, 211, 0.8); 
  }
  100% {
    box-shadow: 0 0 5px rgba(3, 104, 212, 0.5);
  }
}
@keyframes glow-green {
  0% {
    box-shadow: 0 0 10px rgba(2, 112, 48, 0.5); 
  }
  50% {
    box-shadow: 0 0 15px rgba(1, 157, 63, 0.8); 
  }
  100% {
    box-shadow: 0 0 5px rgba(4, 177, 114, 0.5);
  }
}

